.shop-page{
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: stretch;
  min-height: 100vh;
}
.shop-main-content{
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .shop-main-content {
    padding: 0 24px;
    width: 100%;
  }

}

@media screen and (max-width: 767px) {
  .shop-main-content {
    padding: 0 16px;
    width: 100%;
  }
}