.breadcrumb{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  max-width: 1296px;
  margin: 0 auto;
  padding-top: 24px;
  font-weight: 600;

}

.breadcrumb > *{
  text-decoration: none;
  color: #747474;
}

.breadcrumb .link{
  color: #191919;
}

.breadcrumb .link:hover{
  color: #393939;
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .breadcrumb {
    padding: 24px 24px 0 24px;
    width: 100%;
  }

}

@media screen and (max-width: 767px) {
  .breadcrumb {
    padding: 24px 16px 0 16px;
    width: 100%;
  }
}